body{
    margin:0;
    top:0;
    left:0;
    padding:0;

}

#header-root{
    width:100vw;
    padding:10px;
    margin: auto;
}

#header{
    font-size: 30px;
    margin:auto;
    position:sticky;
    line-height: 30px;
    text-align: center;
    width:100%;
    margin-bottom: 10px;
}

#root{
    margin:auto;
    width: min-content;
}

@media screen and (max-width:800px){
    canvas{
        width:100vw;
    }
}