body{
    top:0;
    left:0;

}

#root{
    border: url("../assets/border.png/");
    margin:auto;
    width: min-content;
}

#header-root{
    width:90vw;
    padding:10px;
    margin: auto;
}

.bonus{
    background-color: greenyellow;
    padding:5px;
    border-radius: 20px;
}
.cards li{
    border:1px solid black;
    padding:5px;
    border-radius: 20px;
}

#header{
    font-size: 30px;
    margin:auto;
    position:sticky;
    line-height: 30px;
    text-align: center;
    width:100%;
    margin-bottom: 10px;
}

@media screen and (max-width:800px){
    canvas{
        width:100vw;
    }
    #root{
        width: 95vw;
    }
}